.logo:hover {
  color: #404bbf;
}
.logo {
  color: #4d5ae5;
}
.site-nav .link:hover {
  color: #404bbf;
}
.links .link:hover {
  color: #404bbf;
}
body {
  font-family: "Roboto" sans-serif;
  font-weight: "Regular";
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
  color: #2e2f42;
}
h1 {
  font-weight: "Bold";
  font-size: 56px;
  letter-spacing: 2%;
  line-height: 60px;
}
h2 {
  font-weight: "Bold";
  font-size: 36px;
  letter-spacing: 2%;
}
h3 {
  font-weight: "Medium";
  font-size: 20px;
  letter-spacing: 2%;
}
.footer-title {
  font-weight: "Regular";
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 4%;
}
.title {
  background-color: #2e2f42;
}

.main-title {
  color: white;
}
.button {
  font-weight: "Medium";
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 4%;
  color: white;
}
button {
  background-color: #404bbf;
  cursor: pointer;
}
.team {
  background-color: #f4f4fd;
}
footer {
  background-color: #2e2f42;
}
